:80 {
	@files {
		not path /health /robots.txt
	}
	@health {
		path /health
	}
	@robots {
		path /robots.txt
	}

	log
	log_skip @health

	root * /usr/share/caddy

	respond @health 200

	respond @robots <<TXT
		User-agent: *
		Disallow: /
		TXT 200

	try_files @files {path}.html

	file_server @files

	basic_auth @files {
		prereview {$PASSWORD}
	}
}
